# Built file ignores
O.*
archive
autosave
bin
build
db
dbd
envPaths
html
include
lib
*.log

# Terminal editor ignores
*.swp
*~

# IDE ignores
*.vscode

# Core dumps
core.*

# From original afs gitignore
# Twincat ignores
_Boot
_Libraries
_CompileInfo
*.sln
*.suo
*.tpy
*.bak
*.~u
# EPICS ignores
# Vim ignores
